
    
        <footer>the footer</footer>    
        </section> <!-- closing the wrapper-->
        <!-- start script embedding-->
        <%- script %>
        <!-- end script embedding-->
    </body>
</html>