<%- include('header', {title: 'Home', style: ''}); -%>
<main class="main">
    <h1>This is a mock site</h1>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" >
                <img src="/img/home-card.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Mendix embedded</h5>
                <p class="card-text">This is a mockup site to explore various integration patterns for Mendix apps</p>
                <a href="https://mendix.com" class="btn btn-primary">Mendix Home</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" >
                <img src="/img/home-card.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Mendix embedded</h5>
                <p class="card-text">This is a mockup site to explore various integration patterns for Mendix apps</p>
                <a href="https://mendix.com" class="btn btn-primary">Mendix Home</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" >
                <img src="/img/home-card.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Mendix embedded</h5>
                <p class="card-text">This is a mockup site to explore various integration patterns for Mendix apps</p>
                <a href="https://mendix.com" class="btn btn-primary">Mendix Home</a>
                </div>
            </div>
        </div>
    </div>
</main>
<aside class="aside aside-1">Aside 1</aside>
<aside class="aside aside-2">Aside 2</aside>
<%- include('footer', {script: ''}); -%>  

