<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link <% if (title==='Home'){%>active<%}%>" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if (title==='clientside'){%>active<%}%>" href="/clientside">client</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if (title==='serverside'){%>active<%}%>" href="/serverside">server</a>
    </li>
  </ul>