<%- include('../header', {title: 'serverside', style: style}); -%>
<main class="main">
        <%- content %>
</main>
<aside class="aside aside-1"><%- include('asideleft'); -%> </aside>
<aside class="aside aside-2">Aside 2</aside>

<%- include('../footer', {script: script}); -%>  